* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background-color: #335C67;
}

#nav {
    color: white;
}


.jumbotron {
    text-align: center;
    background-color: #E09F3E;
    font-size: large;
}


.aboutmecard {
    margin-left: 15px;
    margin-bottom: 50px;
    margin-right: 10px;
    font-size: 25px;
    border: 0;
}

.list-group-item {
    color: white;
}
.card-deck {
    display: flex;
    justify-content: center;
    margin-left: 10px;
    margin-bottom: 50px;
    margin-right: 10px;
}

h1 {
    color: white;
}
h2 {
    margin-bottom: 20px;
    margin-left: 30px;
    color: white;
}

.list-group-item {
    border: 0;
    text-align: start;
}

.container {
    color: black;
    font-size: large;
    margin-top: -8px;
    margin-bottom: -8px;
}

.footer {
    right: 5px;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}

a {
    box-shadow: inset 0 0 0 0 #CC3E40;
    color: #54b3d6;
    margin: 0 -.25rem;
    padding: 0 .25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
  }
  a:hover {
    box-shadow: inset 100px 0 0 0 #CC3E40;
    color: white;
  }