* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
    background-color: rgb(125, 197, 168);
}
 
.card {
    display: grid;
}

#navBar {
    display: flex;
    justify-content: flex-end;
} 
